<!doctype html>
<html lang="ru" xmlns="">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container py-3">
      <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">{% block bartitle%}{% endblock %}</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        </nav>
      </header>


      <main>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-student-tab" data-bs-toggle="tab" data-bs-target="#nav-student" type="button" role="tab" aria-controls="nav-student" aria-selected="true">Студент</button>
            </div>
        </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
              <div class="accordion accordion-flush" id="accordionStudent">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-divisionHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-divisions" aria-expanded="false" aria-controls="flush-divisions">
                      Факультет/Институт
                    </button>
                  </h2>
                  <div id="flush-divisions" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStudent">
                    <div class="accordion-body">
                      {% block divisions%}
                      {%endblock%}
                    </div>
                  </div>
                </div>

              </div>

               <div id="kurslist"></div>

            </div>
          </div>
      </main>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>