{% block calendarItems%}
        {% for calendar in calendar_list %}
        {% if calendar.summary == "Расписание занятий(Создать новый)" %}
            <option selected value="new">{{ calendar.summary }}</option>
        {% elif calendar.summary == "Расписание занятий" %}
             <option selected value={{ calendar.id }}>{{ calendar.summary }}</option>
        {% else %}
            <option value={{ calendar.id }}>{{ calendar.summary }}</option>
        {% endif %}
        {% endfor %}
{% endblock %}