{% block grouplist%}
            <h3>Бакалавриат</h3>
            {% for group in group_list %}
            {% if group.levelEducation %}
                {% if group.levelEducation == "бакалавриат"%}
                    <button class="btn btn-dark mt-1" id="group" value={{ group.idgruop }}>{{ group.title }}</button>
                {% endif %}
            {% endif %}
            {% endfor %}
            <h3>Магистратура</h3>
            {% for group in group_list %}
            {% if group.levelEducation %}
                {% if group.levelEducation == "магистратура"%}
                    <button class="btn btn-dark mt-1" id="group" value={{ group.idgruop }}>{{ group.title }}</button>
                {% endif %}
            {% endif %}
            {% endfor %}
{% endblock %}